# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
.config.js

# misc
.DS_Store
.config.local
.config.development.local
.config.test.local
.config.production.local
